{% extends 'base.html' %}

{% block title %}
{{block.super}}
{% endblock %}
		
{% block nav %}
{% include 'inc/_nav.html'%}
{% endblock nav %}

{% block offer %}
{% include 'inc/_offer.html' %}
{% endblock %}

{% block info %}
{% include 'inc/_info.html'%}
{% endblock %}

{% block advantage %}
{% include 'inc/_advantage.html'%}
{% endblock %}

{% block works %}
{% include 'inc/_works.html'%}
{% endblock %}

{% block made %}
{% include 'inc/_made.html'%}
{% endblock %}

{% block partnership %}
{% include 'inc/_partnership.html'%}
{% endblock %}

{% block accordeon %}
{% include 'inc/_accordeon.html'%}
{% endblock %}

{% block form %}
{% include 'inc/_form.html'%} 
{% endblock %}
			
{% block footer %}
{% include 'inc/_footer.html'%}
{% endblock footer %}
