{% load static%}
<div class="col-lg-10">
    <div class="card p-3">
        <div class="modal scale" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class=" d-flex justify-content-center align-items-center">
                            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner d-flex align-items-center">
                                    {% for photo in works.get_photo %}
                                        <div class="carousel-item align-content-center {% if forloop.counter0 == 0 %}active{% endif %}" data-bs-interval="5000">
                                            <img src={{photo}} style="min-height: 70vh" alt="...">
                                        </div>
                                    {% empty %}
                                        <div class="carousel-item">
                                            <img src="{% static "works/empty/empty.png" %}" class="d-block my-auto w-100" alt="empty">
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-header ">
            Категория: <a href='{{works.category.get_absolute_url}}'>{{works.category.name}}</a>
        </div>
        <div class="media row g-0">
            <div class="media-photo col-md-4 m-3">
                <div class=" d-flex align-items-center" style="height: 45vh">
                    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner d-flex align-items-center">
                            {% for photo in works.get_photo %}
                                <div class="carousel-item align-content-center {% if forloop.counter0 == 0 %}active{% endif %}" data-bs-interval="5000">
                                    <img src={{photo}} type="button" class="btn align-self-center" width="320"
                                    alt="..." data-bs-toggle="modal" data-bs-target="#exampleModal">
                                </div>
                            {% empty %}
                                <div class="carousel-item">
                                    <img src="{% static "works/empty/empty.png" %}" class="d-block w-100" alt="empty">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="media-body col-md-6">
                <div class="card-body">
                    <h4>{{works.name}}</h4>
                    <p class="card-text">{% autoescape off %}
                    {{works.description|linebreaks}}
                    {% endautoescape %}</p>
                </div>
            </div>
        </div>
        <div class="card-footer text-body-secondary">
            {{works.created_at|date:'Y-m-d H:i'}}
        </div>
    </div>
</div>
