{% load works_tags %}
{% load static%}

<div class="card col-lg-2 p-3">
    <div class="list-group">
        <div class='card-header'>Категории</div>
        {% for category in categoryes %}
            <a href="{{category.get_absolute_url}}" class="list-group-item border-light border-opacity-25">
                {{category.name}}<span class="badge bg-secondary float-end">{{category.cnt}}</span>
            </a>
        {% empty %}
            <a class="btn list-group-item" >Нет ни одной категории</a>
        {% endfor %}
    </div>
</div>
