{% load static %}
{% if form %}
<div class="container-fluid p-0 m-0" id="form" >
    <div class="row row-cols-md-2 w-80 m-0 p-5">
        <img class="col-md-4" alt="" src="{% static 'home/img/manworkinginawoodengravingworkshop-1-1@2x.png'%}" />
        <form class="col-md-8 needs-validation" enctype="multipart/form-data" action="{% url "proposal:create" %}" method="post">
            {% csrf_token %}
            <h2 class="card-title text-uppercase" style="font-family: Garamond;">Оставить заявку</h2>
            <div class="mb-3">
                <label for="exampleFormControlPhone" class="form-label">Ваше имя:</label>
                {{form.name}}
            </div>
            <div class="mb-3">
                <label for="exampleFormControlPhone" class="form-label">Ваш номер телефона:</label>
                {{form.phone}}                
            </div>
            <div class="mb-3">
                <label for="exampleFormControlEmail" class="form-label">Ваш e-mail:</label>
                {{form.mail}}
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea" class="form-label">Ваше сообщение:</label>
                {{form.message}}
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">Загрузите архив с файлами (изображение изделия, ваши наработки
                    или дизайн-проект):</label>
                {{form.files}}
            </div>
            <div>
                <button class="col-6 btn btn-primary" type="submit">Отправить</button>
            </div>
        </form>
    </div>
</div>
{% endif %}