{% load static%}
<div class="container-fluid p-0 m-0  text-bg-light" id='info'>
    <div class="card-body w-80 p-5">
        <div class="d-flex flex-wrap" style="font: Open Sans;">
        {% for item in Home.info.all reversed %}
            <div class="card-title p-0 pt-4 pe-4">
                {% if item.title == "О нас" %}
                <h1 class="card-title pb-4 text-uppercase" style="font-family: Garamond;">
                    {{item.title}}
                </h1>
                {% else %}
                <h2>
                    <b>{{item.title}}</b>
                </h2>
                {% endif %}
                <p class="card-text">
                    {% autoescape off %}{{item.description}}{% endautoescape %}
                </p>
            </div>
        {% empty %}
            <div class="card-title p-0 pt-4">
                <h2>
                    <b>Ошибка загрузки</b>
                </h2>
                <p class="card-text">Смотри <code>_info.html</code></p>
            </div>
        {% endfor %}
            <a class="align-self-end ms-auto px-2 text-decoration-none btn btn-outline-dark"
                style="font: bold 16px Open Sans;">
                <b>Подробнее о нас</b>
            </a>
        </div>
    </div>
</div>