{% load static %}
		<nav class="navbar navbar-expand-lg bg-dark">
			<div class="container-fluid text-center">
				<a class="navbar-brand" href="{%url 'home' %}">
					<img class="navbar-brand" alt="" src="{% static 'home/img/logo-1@2x (2).png'%}" width="120" />
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ms-auto mb-2" style="font: Open Sans;">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="{%url 'home' %}">Главная</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#group-parent1">О компании</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url "works" %}">Наши работы</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#/">Отзывы</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#/">Статьи</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#footer">Контакты</a>
						</li>
						<li class="nav-item">
							<a class="btn btn-outline-success" href="https://t.me/shukik85" target="_blank">
								<img alt="Telegram" src="{% static 'home/img/mingcutetelegramfill.svg'%}" />
								+7(922)6672326
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>